.notiCardRead {
    display: flex;  
    padding: 10px;
    margin: 2px;
}
.notiCardUnread {
    display: flex;  
    padding: 10px;
    margin: 2px;
    background: rgb(216, 246, 248) !important;
}
.notiImg {
    height: 80px;
    width: 100px;
}
.notiContent {
    width: 100%;
    position: relative;
}
.notiInfoCard {
    position: absolute;
    /* transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; */
}